.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    height: 100vh;
    gap: 16px;
}

.grid-middle {
    grid-column: 2;
    grid-row: 2;
}

.button {
    background-color: aquamarine;
    border-radius: 12px;
}

.incremancer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.money-shower {
    height: 20vh;
    width: 100vh;
}